.container {
  background: royalblue;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: space-evenly;
  margin: auto;
  grid-gap: 1rem;
  width: 90vw;
}
.image {
  height: 300px;
  width: 300px;
}
.card {
  display: grid;
  width: 300px;
  justify-items: right;
}
.cardContent {
  width: 300px;
  display: grid;
}
.typography {
  overflow: hidden;
  text-overflow: ellipsis;
}
.cardAction {
  align-self: end;
}
.movieTitle {
  align-self: stretch;
}
